body{
    margin:0;
    padding: 0;
}

@media screen and (max-width: 1024px){
    img.bg {
        left: 50%;
        margin-left: -512px; }
}

.profile{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  width: 450px;
  height: 100%;
  background: rgba(84, 7, 156, 0.8);
  padding: 20px;
  overflow-x: hidden;
  text-align:center;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}

.profile-img{
  border-radius: 50%;
  width:100px;
  height:100px;
}
.profile h1{
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: 100;
}

.profile h5{
  font-size: 27px;
  letter-spacing: 3px;
  font-weight: 100;
}

.profile h6{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    text-align: left;
    padding-left: 130px;
    transition: all ease-in-out 250ms;

}

h6:hover {
    color: #b9b9b9;
}

.profile p{
  text-align: justify;
}
ul{
  margin: 0px;
  padding: 0;
}
.profile li{
  position: relative;
  padding-top: 70%;
  display: inline-block;
  margin: 15px;
  list-style: none;
}
.profile li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.profile li a:hover{
  color: #b9b9b9;
}


.resume{
    position: absolute;
    overflow-x: hidden;
    left: 28.75%;
    top: 0%;
    z-index: 5;
    width: 70%;
    height: 425%;
    background: rgba(0, 0, 0, 0.8);
    padding: 0px;
    padding-left: 50px;
    text-align:center;
    margin: auto;
    margin-top: 0%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}

.resume h2{
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 130;
    text-align: left;
    padding-right: 5px;
    padding-left: 5px; 
}

h3{
    position:absolute;
    left: 35%;
    font-size: 20px;
    letter-spacing: 3px;
    justify-content: center;
    font-weight: 100;
    text-align: left;
    margin-right: 20px;
    padding-right: 0px;
    padding-left: 5px;
    padding-top: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Century Gothic',sans-serif;
    z-index: 6;

}

.resume h4{
    padding: 0%;
    padding-bottom: 0px;
    text-align: left;
    font-size: 50px;
}

.resume li{
    padding: 5px;
    margin-left: 25px;
    font-size: 20px;
    text-align: left;
}

.resume a:link{
    color: white;
}

.resume a:visited{
    color: yellow;
}

.wrapper{
  position: absolute;
  z-index: -2;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background: rgb(255, 255, 255);
  background-repeat: repeat;
}

.floats div{
    position: absolute;
    display:block;
    z-index: -1;
    list-style: none;
    width: 60px;
    height: 60px;
    background-color:rgb(255, 255, 255);
    border: 6px solid rgba(255, 255, 255, 0.8);
}
.floats div:nth-child(1){
  top: 12%;
  left: 42%;
  z-index: -1;
  animation: animate 10s linear infinite;
}
.floats div:nth-child(2){
  top: 15%;
  left: 90%;
  z-index: -1;
  animation: animate 6s linear infinite;
}
.floats div:nth-child(3){
  top: 10%;
  left: 15%;
  z-index: -1;
  animation: animate 8s linear infinite;
}
.floats div:nth-child(4){
  top: 45%;
  left: 20%;
  z-index: -1;
  animation: animate 12s linear infinite;
}
.floats div:nth-child(5){
  top: 35%;
  left: 30%;
  z-index: -1;
  animation: animate 5s linear infinite;
}
.floats div:nth-child(6){
  top: 50%;
  left: 75%;
  z-index: -1;
  animation: animate 7s linear infinite;
}
.floats div:nth-child(7){
  top: 55%;
  left: 55%;
  z-index: -1;
  animation: animate 9s linear infinite;
}
.floats div:nth-child(8){
  top: 85%;
  left: 40%;
  z-index: -1;
  animation: animate 11s linear infinite;
}
.floats div:nth-child(9){
  top: 90%;
  left: 85%;
  z-index: -1;
  animation: animate 13s linear infinite;
}
.floats div:nth-child(10){
  top: 85%;
  left: 10%;
  z-index: -1;
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0%{
      transform: scale(0) translateY(0) rotate(0);
      opacity: 1;
    }
    100%{
      transform: scale(2.5) translateY(-275px) rotate(450deg);
      opacity: 0;
    }
}
